<div class="resume-header">
  <div class="name">
    <span>Mayur Mistry</span>
    <span>Systems Engineer</span>
  </div>
</div>
<div class="resume-content">
  <div class="resume-left-side-content">
    <div class="Technical-skills-container">
        <div class="Technical-skills-header">
          <span>Technical Skills</span>
        </div>
        <div class="skills-list">
          <ul>
            <li>HTML, CSS, SASS</li>
            <li>ES5+, TypeScript</li>
            <li>Angular 4+, jQuery</li>
            <li>Node.js, Express.js, Python 3</li>
            <li>MySQL, Oracle Database, MongoDB</li>
            <li>Kendo UI, Angular Material, PrimeNG, FusionCharts, Bootstrap</li>
            <li>Jasmine & Karma</li>
          </ul>
        </div>
    </div>
    <div class="Technical-skills-container">
        <div class="Technical-skills-header">
          <span>Certifications</span>
        </div>
        <div class="skills-list">
          <ul>
            <li>Udacity - Front-End Web Developer Nanodegree</li>
            
          </ul>
        </div>
    </div>
    <div class="Technical-skills-container">
        <div class="Technical-skills-header">
          <span>Achievements</span>
        </div>
        <div class="skills-list">
          <ul>
            <li>Rising Star Award - Infosys <strong>(FY 2018-19)</strong> </li>
            
          </ul>
        </div>
    </div>
    <div class="Technical-skills-container" style="margin-bottom: 17px !important;;">
        <div class="Technical-skills-header">
          <span>Education</span>
        </div>
        <div class="skills-list">
          <ul>
            <li>B.E in Information Technology,<br> DJ Sanghvi College: <strong>7.04/10.00 (2017)</strong></li>
            <li>HSC: <strong>79.00% (2012)</strong></li>
            <li>SSC: <strong>79.45% (2010)</strong></li>
          </ul>
        </div>
    </div>
    <div class="Technical-skills-container">
        <div class="Technical-skills-header">
          <span>Contact</span>
        </div>
        <div class="skills-list">
          <ul>
            <li>+91 8452932214</li>
            <li>m.mistry17@yahoo.com</li>
            <li>github.com/mayur1702</li>
            <li>linkedin.com/in/mayur-mistry-072a99118/</li>
          </ul>
        </div>
    </div>

  </div>
  <div class="resume-right-side-content">
    <div class="work-experience-container">
        <div class="work-experience-header">
          <span>Work Experience</span>
        </div>
        <div class="work-experience-content">
          <div>
            <span>Infosys Ltd, Bengaluru</span>
            <span>Jan, 2018 - Present</span>
          </div>
          <div>
            <ul>
                <li>
                    <span><b>Hold & Release Management</b></span>
                    
                    <p>Was in three member core development team responsible for developing Hold & Release management system as a part of Proof of Concept which was appreciated by client and resulted in global POC.</p>
                    <ul style="list-style-type: fill;">
                      <li style="list-style-type: fill;">Designed and developed Responsive UI along with proper planning for UX.</li>
                      <li style="list-style-type: fill;">Designed the data model considering the requirements of client, performance and security.</li>
                      <li style="list-style-type: fill;">Used third party libraries like bcrypt, JWT for making secure application.</li>
                      <li style="list-style-type: fill;"><b>Technologies/Libraries: Angular 6, Express.js, JWT, bcrypt, Mongodb, Mongoose, Kendo Grid, Angular Material, Bootstrap</b></li>
                    </ul>
                    </li>
              <li>
                <span><b>Shipment Visibility Dashboard</b></span>
                <p>Worked with a team to develop an application from scratch for logistics client</p>
                <ul>
                <li>Worked with UX team to design screens and creating workflow, also responsible for developing responsive UI as per the mockups. </li>
                <li>Created multiple reusable components which can be used by other teams. </li>
                <li>Implemented custom views for users and color themes.</li>
                <li><b>Technologies/Libraries: Angular 6, SASS, Kendo Grid, Angular Material</b></li></ul>
              </li>
              <li>
                <span><b>Shipment Tracking Dashboard</b></span>
                <p>Developed dashboard which delivers multi-mode
                  transport visibility: road, ocean, rail, air, barge. </p>
                <ul>
                <li>Used
                  Google Maps API to locate all the shipments and
                  developed responsive tracking bar as per the wireframes.</li>
                  
                <li><b>Technologies/Libraries: Angular 6, SASS, Kendo Grid, Angular Material</b></li></ul>
              </li>
            </ul>
          </div>

        </div>
        <div class="work-experience-header">
          <span>Projects</span>
        </div>
        <div class="work-experience-content">
          <div>
              <ul style="margin:0px">
                  <li>
                    <span><b>Shopping Portal</b></span>
                    <p style="font-size:14px;font-weight: normal">Developed a responsive web application for online mobile shopping with RESTful API's along with exception handling. Performed Unit testing with code coverage above 80%.<strong>(Angular 5, CSS, Bootstrap, Express.js, MongoDB, Jasmine, PrimeNG)</strong> </p>
                  </li>
                </ul>
          </div>
        </div>
    </div>
  </div>
</div>